{
  "domain": "[[ project_domain ]]",
  "name": "[[ project_name ]]",
  "codeowners": ["@[[ author_name ]]"],
  "config_flow": true,
  "dependencies": ["frontend"],
  "documentation": "[[ documentation_url ]]",
  "integration_type": "[[ integration_type ]]",
  "iot_class": "[[ iot_class ]]",
  "issue_tracker": "[[ issue_tracker_url ]]",
  "requirements": [],
  "version": "[[ version ]]"
}
